{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<div class="container" style="padding-top: 2cm;">

	<h2 class="info"> Métricas Riesgo Estándar </h2>
	<h5 class="info"> ____________________________________ </h5>

	<h3 class="info"> Los siguientes archivos han sido validados y con ellos se implementará el análisis solicitado: </h3>

	{% for archivo in lista_archivos %}
		<h5 class="info"> {{ archivo }} </h5>
	{% endfor %}

	<h3 class="info">  IMPORTANTE: El proceso de calculo se encuentra en construccion</h3>

	
	<h3 class="info">  </h3>

		<form id="form" enctype="multipart/form-data" class="col s12" action="" method="post">{% csrf_token %}
			<div class="row">
				<div  class= "col s4 ">
					<a class="btn waves-effect waves-light blue darken-4" href="{% url 'metricas:metricasriesgo_borrado' rcs_id %}" > Continuar </a>
				</div>
			</div>

		</form>

</div>
{% endblock %}


{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
{% endblock %}

