{% extends 'base/base.html' %}

{% load static %}


{% block content %}
<div class="container" style="padding-top: 2cm;">

	<h3 class="info"> Favor de verificar que se han proporcionado simultáneamente en "Carga de Archivos" como mínimo los archivos asociados a los insumos siguientes: </h3>
	<h5 class="info"> "PARAMETROS.mat" </h5>
	<h5 class="info"> "RR4LYOT.mat" </h5>

	<a class="btn waves-effect waves-light blue darken-4" href="{% url 'carga:carga' %}" > Continuar </a>

</div>
{% endblock %}


{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
{% endblock %}
