{% extends 'base/base.html' %}

{% load static %}


{% block content %}
<div class="container" style="padding-top: 2cm;">

	<h3 class="info"> Se borrarán todos los archivos de carga de información asociados con este usuario, entre los que se encuentran: </h3>
		{% for archivo in lista_archivos %}
		<h5 class="info"> {{ archivo }} </h5>
		{% endfor %}

		<a class="btn waves-effect waves-light blue darken-4" href="{% url 'salida:success' %}" > Borrar </a>
		<a class="btn waves-effect waves-light blue darken-4" href="{% url 'logout' %}" > No, no deseo borrar </a>

</div>
{% endblock %}


{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
{% endblock %}

